* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

/*! Header */

header {
    height: 5rem;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.25);
    padding: 0 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-item {
    display: flex;
    gap: 4.3rem;
}

header .header-item .navbar-1 {
    display: flex;
    gap: 0.5rem;
}

header .header-item .navbar-1 i {
    color: #FFAB21;
    font-size: 1.3rem;
}

header .header-item .navbar-1 .location-text {
    color: #005B7F;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .header-item .navbar-2 {
    display: flex;
    gap: 2rem;
}

header .header-item .navbar-2 .navbar-item {
    display: flex;
    gap: 0.5rem;
}

header .header-item .navbar-2 .navbar-item i {
    font-size: 1.3rem;
    color: #FFAB21;
}

header .header-item .navbar-2 .navbar-item .phone-num {
    color: #005B7F;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .header-item-2 {
    display: flex;
    align-items: center;
    gap: 3.9rem;
}

header .header-item-2 .navbar-icons {
    display: flex;
    gap: 3rem;
}

header .header-item-2 .navbar-icons i {
    font-size: 1.8rem;
    color: #FFAB21;
    cursor: pointer;
}

header .header-item-2 .navbar-content {
    display: flex;
    gap: 1.8rem;
}

header .header-item-2 .navbar-content .blue-text {
    color: #005B7F;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header .header-item-2 .navbar-content .yellow-text {
    color: #FFAB21;
    font-family: Poppins;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*! Price */

.price {
    background: #F4F5F7;
    padding: 0 8rem;
    padding-top: 3rem;
    width: 100%;
    height: 70rem;
}

.price .price-container {
    display: flex;
    justify-content: space-between;
    height: 7.9rem;
    width: 100%;
    flex-direction: column;
    gap: 10.162rem;
}

.price .price-container .price-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13.9rem;
}

.price .price-container .price-top-container .price-navbar {
    display: flex;
    gap: 4.2rem;
}

.price .price-container .price-top-container .price-navbar a {
    color: #58595B;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.126s ease-in;
}

.price .price-container .price-top-container .price-navbar a:hover {
    color: #c2c5cb;
}

.price .price-container .price-top-container .price-button .price-btn {
    width: 22.4rem;
    height: 4rem;
    border-radius: 1rem;
    background: #FFAB21;
    box-shadow: 0px 2px 7px 0px #BDC2FF;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.price .price-container .price-top-container .price-button .price-btn:hover {
    background-color: #bd8f46;
}

.price .price-container .price-center-container {
    display: flex;
    justify-content: space-between;
    
}

.price .price-container .price-center-container .price-left {
    display: flex;
    flex-direction: column;
}

.price .price-container .price-center-container .price-left .price-left-texts {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.price .price-container .price-center-container .price-left .price-left-texts h2 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-texts .price-paragraph {
    width: 41.2rem;
    margin-bottom: 5.4rem;
}

.price .price-container .price-center-container .price-left .price-left-texts .price-paragraph p {
    color: #58595B;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container {
    display: flex;
    gap: 14.1rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 4.7rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 {
    display: flex;
    gap: 3.4rem;
    align-items: center;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text input {
    width: 6.8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 0.05rem solid #FFAB21;
    background: #FFF;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text div {
    color: #58595B;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 input {
    width: 16.9rem;
    height: 0.5rem;
    color: #FFAB21;
    border: none;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 .range-nums {
    display: flex;
    gap: 14.1rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 .range-nums div {
    color: #8A8A8A;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items.active {
    display: flex;
    flex-direction: column;
    gap: 7.7rem;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-button .price-left-btn {
    width: 30.5rem;
    height: 4rem;
    border-radius: 1rem;
    background: #FFAB21;
    box-shadow: 0px 2px 7px 0px #BDC2FF;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-button .price-left-btn:hover {
    background-color: #bd8f46;
}

/*! Carry */

.carry {
    padding: 12.793rem 8rem 14rem 8rem;
    background-color: #F4F5F7;
}

.carry .carry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.carry .carry-container .carry-top-container h2 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.carry .carry-container .carry-center-container .carry-content {
    padding: 8.8rem 7.2rem 8rem 8.1rem;
    width: 128rem;
    height: 53.4rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.6);
    display: flex;
    justify-content: space-between;
}

.carry .carry-container .carry-center-container .carry-content .carry-content-item {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.carry .carry-container .carry-center-container .carry-content .carry-content-item .carry-content-items {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
}

.carry .carry-container .carry-center-container .carry-content .carry-content-item .carry-content-items small {
    color: #8A8A8A;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #FFE8BA;
    width: 38rem;
    padding-bottom: 0.6rem;
}

.carry .carry-container .carry-center-container .carry-content .carry-content-item h3 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.work {
    padding: 14rem 8rem 12rem 8rem;
    background-color: #F4F5F7;
}

.work .work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.work .work-top-container h2 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.work .work-center-container {
    display: flex;
    gap: 23.8rem;
    flex-wrap: wrap;
}

.work .work-center-container .work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5.005rem;
}

.work .work-center-container .work-card .work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.2rem;
}

.work .work-center-container .work-card .work-content p {
    color: #58595B;
    font-family: Poppins;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.work .work-center-container .work-card .work-content .work-line {
    width: 8.6rem;
    height: 0.1rem;
    background: #FFAB21;
}

/*! New */

.new {
    padding: 12rem 8rem 19.5rem 8rem;
    background-color: #F4F5F7;
}

.new .new-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
}

.new .new-container .new-top-container h2 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.new .new-container .new-center-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.new .new-container .new-center-container .new-content {
    width: 30.5rem;
    height: 42.8rem;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(206, 222, 250, 0.50);
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.new .new-container .new-center-container .new-content:hover {
    box-shadow: 1px 3px 7px 1px rgba(206, 222, 250, 0.9);
}

.new .new-container .new-center-container .new-content .new-card {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.new .new-container .new-center-container .new-content .new-card .new-card-text {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.new .new-container .new-center-container .new-content .new-card .new-card-text h4 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.new .new-container .new-center-container .new-content .new-card .new-card-text {
    width: 26.5rem;
    color: #58595B;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.new .new-container .new-center-container .new-content .new-card .new-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new .new-container .new-center-container .new-content .new-card .new-card-bottom .new-card-bottom-text {
    display: flex;
    flex-direction: column;
}

.new .new-container .new-center-container .new-content .new-card .new-card-bottom .new-card-bottom-text small {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.new .new-container .new-center-container .new-content .new-card .new-card-bottom i {
    padding: 1.2rem;
    font-size: 1.4rem;
    background-color: #FFAB21;
    border-radius: 50%;
    color: #fff;
    transition: all 0.126s ease-in-out;
}

.new .new-container .new-center-container .new-content .new-card .new-card-bottom i:hover {
    background-color: #bd8f46;
}

/*! Company */

.company {
    background-color: #F4F5F7;
}

.company .company-container {
    margin: 0 11.7rem;
    padding-bottom: 10rem;
    position: relative;
}

.company .company-container .company-content {
    width: 128rem;
    height: 26rem;
    border-radius: 1rem;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 7.2rem;
}

/*! Footer */

footer {
    padding: 8rem 8rem 3rem 8rem;
}

footer .footer-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

footer .footer-container .footer-container-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8rem;
}

footer .footer-container .footer-container-1 .footer-items-container {
    display: flex;
    gap: 12rem;
}

footer .footer-container .footer-container-1 .footer-items-container .footer-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .footer-container .footer-container-1 .footer-items-container .footer-items a {
    color: #005B7F;
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all 0.126s ease-in;
}

footer .footer-container .footer-container-1 .footer-items-container .footer-items a:hover {
    color: #000;
}

footer .footer-container .footer-container-1 .footer-adress-numbers {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

footer .footer-container .footer-container-1 .footer-adress-numbers .footer-adress .location-text {
    color: #005B7F;
    font-family: Prompt;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer-container .footer-container-1 .footer-adress-numbers .footer-number .phone-num {
    color: #005B7F;
    font-family: Prompt;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer-container .footer-container-1 .footer-adress-numbers .footer-email .email {
    color: #005B7F;
    font-family: Prompt;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

footer .footer-container .footer-container-1 .footer-icons {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

footer .footer-container .footer-container-1 .footer-icons i {
    font-size: 2.1rem;
    color: #FFAB21;
    cursor: pointer;
}

footer .footer-container .footer-container-2 {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

footer .footer-container .footer-container-2 .footer-content-items {
    display: flex;
    gap: 3rem;
}

footer .footer-container .footer-container-2 .footer-content-items small {
    color: #8A8A8A;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer .footer-container .footer-container-2 .footer-content-items p {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}