* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

/*! Header */

header {
    height: 50px;
    background: #FFF;
    box-shadow: 0px 1px 7px 0px rgba(168, 168, 168, 0.25);
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-item {
    display: flex;
    gap: 43px;
}

header .header-item .navbar-1 {
    display: flex;
    gap: 5px;
}

header .header-item .navbar-1 i {
    color: #FFAB21;
    font-size: 13px;
}

header .header-item .navbar-1 .location-text {
    color: #005B7F;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .header-item .navbar-2 {
    display: flex;
    gap: 20px;
}

header .header-item .navbar-2 .navbar-item {
    display: flex;
    gap: 5px;
}

header .header-item .navbar-2 .navbar-item i {
    font-size: 13px;
    color: #FFAB21;
}

header .header-item .navbar-2 .navbar-item .phone-num {
    color: #005B7F;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header .header-item-2 {
    display: flex;
    align-items: center;
    gap: 39px;
}

header .header-item-2 .navbar-icons {
    display: flex;
    gap: 30px;
}

header .header-item-2 .navbar-icons i {
    font-size: 18px;
    color: #FFAB21;
    cursor: pointer;
}

header .header-item-2 .navbar-content {
    display: flex;
    gap: 18px;
}

header .header-item-2 .navbar-content .blue-text {
    color: #005B7F;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

header .header-item-2 .navbar-content .yellow-text {
    color: #FFAB21;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*! Price */

.price {
    background: #F4F5F7;
    padding: 0 80px;
    padding-top: 30px;
    width: 100%;
    height: 700px;
}

.price .price-container {
    display: flex;
    justify-content: space-between;
    height: 79px;
    width: 100%;
    flex-direction: column;
    gap: 101.62px;
}

.price .price-container .price-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 139px;
}

.price .price-container .price-top-container .price-navbar {
    display: flex;
    gap: 42px;
}

.price .price-container .price-top-container .price-navbar a {
    color: #58595B;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all 0.126s ease-in;
}

.price .price-container .price-top-container .price-navbar a:hover {
    color: #c2c5cb;
}

.price .price-container .price-top-container .price-button .price-btn {
    width: 224px;
    height: 40px;
    border-radius: 10px;
    background: #FFAB21;
    box-shadow: 0px 2px 7px 0px #BDC2FF;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.price .price-container .price-top-container .price-button .price-btn:hover {
    background-color: #bd8f46;
}

.price .price-container .price-center-container {
    display: flex;
    justify-content: space-between;
    
}

.price .price-container .price-center-container .price-left {
    display: flex;
    flex-direction: column;
}

.price .price-container .price-center-container .price-left .price-left-texts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.price .price-container .price-center-container .price-left .price-left-texts h2 {
    color: #005B7F;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-texts .price-paragraph {
    width: 412px;
    margin-bottom: 54px;
}

.price .price-container .price-center-container .price-left .price-left-texts .price-paragraph p {
    color: #58595B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container {
    display: flex;
    gap: 141px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom {
    display: flex;
    flex-direction: column;
    gap: 47px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 {
    display: flex;
    gap: 34px;
    align-items: center;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text input {
    width: 68px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid #FFAB21;
    background: #FFF;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-1 .num-text div {
    color: #58595B;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 input {
    width: 169px;
    height: 5px;
    color: #FFAB21;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 .range-nums {
    display: flex;
    gap: 141px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-bottom .price-left-bottom-line-2 .range-nums div {
    color: #8A8A8A;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items.active {
    display: flex;
    flex-direction: column;
    gap: 77px;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-button .price-left-btn {
    width: 305px;
    height: 40px;
    border-radius: 10px;
    background: #FFAB21;
    box-shadow: 0px 2px 7px 0px #BDC2FF;
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    transition: all 0.126s ease-in;
}

.price .price-container .price-center-container .price-left .price-left-bottom-container .price-left-bottom-items .price-left-button .price-left-btn:hover {
    background-color: #bd8f46;
}